.CarLoading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 560px;
    background-color: var(--white);
}

.CarLoading p{ 
    background-color: var(--white);
}

@media screen and (max-width: 1080px) {
    .CarLoading {
        height: 280px;
    }
}
